---
import Layout from "../layouts/Layout.astro";
import "@fontsource/jetbrains-mono/latin-600.css";
---

<Layout title="404 — nothing found">
    <h1 class="text-3xl mt-1 code-font">Absolute nothing >> 404.</h1>
    <a href="/" class="underline underline-offset-6 duration-150 hover:text-gray-200">Back to /root</a>
</Layout>

<style>
    .code-font {
        font-family: "JetBrains Mono", sans-serif;
    }
</style>
