---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 — nothing">
    <h1 class="text-2xl">
        <span class="inline-flex items-center rounded-md bg-red-400/10 px-2 py-1 mr-2 font-medium text-red-400 inset-ring inset-ring-red-400/20">404</span>
        The computer says no.
    </h1>
    <a href="/">Back to /root</a>
</Layout>
