---
import Layout from "../layouts/Layout.astro";
import background from '../assets/background.webp';
import '@fontsource/unbounded/500.css';
import '@fontsource/space-grotesk/600.css';
import SocialLinks from "../components/SocialLinks.astro";
import Github from "simple-icons-astro/Github";
import Discord from "simple-icons-astro/Discord";
import Wakatime from "simple-icons-astro/Wakatime";
import Telegram from "simple-icons-astro/Telegram";
import Steam from "simple-icons-astro/Steam";

const socials = [
    { icon: Discord, url: "https://discord.com/users/613651509015740416/" },
    { icon: Telegram, url: "https://wavycatter.t.me/" },
    { icon: Github, url: "https://github.com/wavy-cat" },
    { icon: Wakatime, url: "https://wakatime.com/@wavycat" },
    { icon: Steam, url: "https://steamcommunity.com" },
];
---

<Layout title="WavyCat" description="Just a website with various links" backgroundImage={background}}>
    <h1 class="text-3xl mt-1 space-grotest">WavyCat</h1>
    <p class="max-w-100">
        Ever-sleepy cat-girl astronaut and software engineer with experience in
        Go, TypeScript, Python, and Kotlin.
    </p>
    <SocialLinks buttons={socials} />
</Layout>

<style>
    .space-grotest {
        font-family: "Space Grotesk", sans-serif;
    }
</style>
