---
import Layout from "../layouts/Layout.astro";
import background from '../assets/background.webp';
import SocialLinks from "../components/SocialLinks.astro";
import Github from "simple-icons-astro/Github";
import Discord from "simple-icons-astro/Discord";
import Telegram from "simple-icons-astro/Telegram";
import Matrix from "simple-icons-astro/Matrix";

const socials = [
    { icon: Discord, tooltip: "@wavycat", url: "https://discord.com/users/613651509015740416/" },
    { icon: Telegram, tooltip: "@wavycatter", url: "https://t.me/wavycatter" },
    { icon: Matrix, tooltip: "@wavycat:matrix.qndk.fun", url: "https://matrix.to/#/@wavycat:matrix.qndk.fun" },
    { icon: Github, tooltip: "wavy-cat", url: "https://github.com/wavy-cat" },
];
---

<Layout title="WavyCat" description="Just a website with various links" backgroundImage={background}>
    <h1 class="text-3xl mt-1 space-grotest">WavyCat</h1>
    <p>
        Software engineer with experience in Go, TypeScript & Kotlin.
    </p>
    <SocialLinks buttons={socials} />
</Layout>
