---
import Layout from "../layouts/Layout.astro";
import SocialLinks from "../components/SocialLinks.astro";
import ProjectLinks from "../components/ProjectLinks.astro";
import { Picture } from "astro:assets";
import socials from "../socials";
import projects from "../projects";
import avatar from "../assets/avatar.png";
---

<Layout title="WavyCat" description="Just a developer's personal website">
    <div class="flex items-center gap-2">
      <Picture
        src={avatar}
        width="64"
        height="64"
        formats={['avif', 'webp']}
        alt="My avatar"
        class="w-8 h-8 rounded-full border border-stone-600 object-cover"
        loading="eager"
      />
      <h1 class="text-2xl leading-none">WavyCat</h1>
    </div>

    <p>
        Software engineer with experience in Go, TypeScript & Kotlin.
    </p>
    <SocialLinks buttons={socials} />

    <hr class="w-full h-0.5 my-5 mx-auto bg-neutral-300 border-0">

    <ProjectLinks buttons={projects} />
</Layout>
