---
interface SocialButton {
    social: string
    username: string
    url?: string
}

interface Props {
	buttons: SocialButton[]
}

const {buttons} = Astro.props as Props
---

<ul class="list-disc">
    {buttons.map(btn => (
        <li><b>{btn.social}:</b> <a href={btn.url}>{btn.username}</a>.</li>
    ))}
</ul>
