---
import Image from 'astro/components/Image.astro';
import background from '../assets/background.webp';
import '@fontsource/jetbrains-mono/latin-600.css';
import Github from 'simple-icons-astro/Github';
import Discord from 'simple-icons-astro/Discord';
import Wakatime from 'simple-icons-astro/Wakatime';
import Telegram from 'simple-icons-astro/Telegram';
import Steam from 'simple-icons-astro/Steam';
---

<div class="h-full font-sans bg-black text-white">
	<Image class="fixed top-0 left-0 min-w-full h-full w-auto blur-md object-cover" src={background} alt="" fetchpriority="high" loading="eager"/>
	<main class="h-full flex justify-center">
		<section class="z-10 flex flex-col items-start justify-center p-5 gap-4">
			<h1 class="text-3xl mt-1 code-font">WavyCat</h1>
			<p>Ever-sleepy cat-girl and software engineer from Russia<br>with experience in Go, Kotlin, Python, and, TypeScript.</p>
			<section class="flex gap-4 flex-wrap">
				<a href="https://discord.com/users/613651509015740416/" class="icon-link"><Discord/></a>
				<a href="https://wavycatter.t.me/" class="icon-link"><Telegram/></a>
				<a href="https://github.com/wavy-cat" class="icon-link"><Github/></a>
				<a href="https://wakatime.com/@wavycat" class="icon-link"><Wakatime/></a>
				<a href="https://steamcommunity.com" class="icon-link"><Steam/></a>
			</section>
		</section>
	</main>
</div>

<style>
	.code-font {
		font-family: "JetBrains Mono", sans-serif;
	}

	.icon-link :global(svg) {
		transition: transform 0.15s;
	}

	.icon-link:hover :global(svg) {
		transform: scale(1.1);
	}
</style>