body {
    background: linear-gradient(45deg, #f1bd9e, #f3cfb1, #f7e1cc, #fae7e4, #fcf4f1);
    background: -webkit-linear-gradient(45deg, #f1bd9e, #f3cfb1, #f7e1cc, #fae7e4, #fcf4f1);
    background: -moz-linear-gradient(45deg, #f1bd9e, #f3cfb1, #f7e1cc, #fae7e4, #fcf4f1);
    background: -o-linear-gradient(45deg, #f1bd9e, #f3cfb1, #f7e1cc, #fae7e4, #fcf4f1);
}

p, h2 {
    margin: 0;
}

.main-box {
    max-width: 400px;
    border: 3px solid #A48367;
    border-radius: 10px;
    padding: 22px;
    background-color: rgba(249, 242, 236, 0.7);

    .avatar {
        width: 4rem;
        border-radius: 100%;
        box-shadow: 0 2px 6px 0 rgba(158, 109, 89, 0.4);
        margin-bottom: 5pt;
    }
}

.details {
    font-size: 1.1rem;
    margin-top: 0.1rem;
}

.description {
    margin-top: 0.3rem;
}

.icon {
    width: 2rem;
    filter: invert(0.16);
    transition: filter 0.2s;
}

.icon:hover {
    filter: invert(0.24);
}

.social {
    margin-top: 0.5rem;
}