---
import "../styles/global.css";
import Head, { type Props } from "./Head.astro";

const { title, description } = Astro.props as Props;
---

<Head title={title} description={description}>
    <div class="flex h-screen justify-center items-center bg-black text-white">
        <main class="flex flex-col p-5 gap-4 max-w-120">
            <slot />
        </main>
    </div>
</Head>

<style is:global>
    a {
        text-decoration: underline;
        text-underline-offset: 2px;
        --tw-duration: 250ms;
        transition-duration: 250ms;
    }

    a:hover {
        color: var(--color-gray-200);
    }
</style>
