---
import "../styles/global.css";
import Head from "./Head.astro";

type Props = Head.Props;

const { title, description } = Astro.props as Props;
---

<Head title={title} description={description}>
    <div class="flex h-screen justify-center font-sans items-center bg-black text-white">
        <div class="flex flex-col  p-5 gap-4 max-w-120">
            <slot />
        </div>
    </div>
</Head>

<style is:global>
    h1,h2,h3,h4,h5,h6 {
        font-family: var(--font-space-grotesk);
    }

    a {
        text-decoration: underline;
        text-underline-offset: 2px;
        --tw-duration: 250ms;
        transition-duration: 250ms;
    }

    a:hover {
        color: var(--color-gray-200);
    }
</style>
